#root {
  background-color: #282c34;
  color: white;
}

.rk-table-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

.rk-body-fill-page {
  height: calc(100vh - 62px);
  overflow-y: hidden;
}

.rk-placeholder-white input::placeholder {
  color: white !important;
}

.rk-menu-card {
  height: 178px !important;
}